:root {
  --punch: #ce5a57;
  --faded-blue: #444c5c;
  --ocean-blue: #78a5a3;
  --warm: #e1b16a;
}

body {
  background-color: var(--ocean-blue);
  padding: 8px;
}
/* Спочатку пишемо стилі для телефонної версії, як дефолтні */

.header {
  max-width: 100%;
  border-radius: 15px;
  padding: 14px;
  background-color: var(--punch);
  height: 50px;
  align-items: center;
  display: flex;
  position: relative;
}

.logo-svg {
  fill: var(--ocean-blue);
}

.header-p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  font-size: 28px;
  font-weight: 650;
  right: 5%;
  color: var(--faded-blue);
}

/* Стилі для основного вмісту сторінки */

.content {
  margin-top: 15px;
  max-width: 100%;
  border-radius: 15px;
  padding: 8px 10px;
  background-color: var(--warm);
  padding: 50px 18px;
}

.title-and-svg {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 60px;
}

.svg {
  padding: 10px;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: var(--faded-blue);
}

.text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--faded-blue);
}

/* Стилі для ''рекламного контейнера'' */

.media {
  margin-top: 15px;
  max-width: 100%;
  border-radius: 15px;
  padding: 8px 10px;
  background-color: var(--warm);
  text-align: center;
  padding-top: 5%;
}

.media-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: var(--faded-blue);
  margin-bottom: 15px;
}

.media-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--faded-blue);
}

.footer {
  max-width: 100%;
  border-radius: 15px;
  padding: 14px;
  background-color: var(--faded-blue);
  height: 50px;
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 25px;
}

.footer-p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  font-size: 28px;
  font-weight: 600;
  right: 5%;
  color: var(--ocean-blue);
}

/* Адаптація під екрани середнього розміру */

@media screen and (min-width: 768px) {
  .header {
    height: 75px;
  }

  .header-p {
    font-size: 32px;
  }

  .title {
    font-size: 44px;
  }

  .content {
    padding: 20px 28px;
  }

  .text {
    font-size: 22px;
  }

  .main {
    display: flex;
    margin: 15px 35px;
  }

  .media {
    margin-left: 10px;
    align-items: center;
  }

  .media-text {
    padding-top: 55%;
    padding-bottom: 45px;
  }

  .footer {
    height: 75px;
  }

  .footer-p {
    font-size: 32px;
  }
}

/* Адаптація під комп'ютери */

@media screen and (min-width: 1140px) {
  .header {
    height: 75px;
  }

  .header-p {
    font-size: 32px;
  }

  .title {
    font-size: 44px;
  }

  .content {
    padding: 30px 28px;
  }

  .text {
    font-size: 22px;
  }

  .main {
    display: flex;
    margin: 30px 35px;
  }

  .media {
    margin-left: 10px;
    align-items: center;
  }

  .media-text {
    padding-bottom: 45px;
  }

  .footer {
    height: 75px;
  }

  .footer-p {
    font-size: 32px;
  }
}
